
  <app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="content-container">
    <div class="row">
      <div class="col-md-12">
        <h1 *ngIf="loadedFeature === null">Welcome to the recipies page</h1>
        <app-users-screen *ngIf="loadedFeature === 'users'"></app-users-screen>
        <app-product-screen *ngIf="loadedFeature === 'products'"></app-product-screen>
        <app-users2screen *ngIf="loadedFeature === 'users2'"></app-users2screen>
        
      </div>
    </div>
  </div>


