<div>
    <div class="card">
       <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let image of productSelected.images">
                <img src="{{image}}" style="height: 300px; width: 300px;">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="card-body">
          <h1 class="card-title">{{productSelected.title}}</h1>
          <p class="product-description">{{productSelected.description}}</p>
          <h3>{{productSelected.category}}</h3>
          <h3>${{productSelected.price}} AUD</h3>
        </div>
        <a href="#" class="btn btn-primary" (click)="onSelection()">Go back</a>
    </div>
</div>


<!-- https://ng-bootstrap.github.io/#/guides/animations -->

